.dragme {
	position: relative;
	cursor: move;
	width: 270px;
}

.textbox {
	display: inline-block;
	overflow: hidden;
	padding: 10px;
	font-family: "Press Start 2P";
	font-size: 12px;
	color: #f0efb7;
	--inner: #290829;
	--border: #6bd6bd;
	--accent: #6bd6bd;
	text-align: center;
}

/* PIXEL BORDER - originally designed by https://codepen.io/fallwestmike*/
.pxl-border {
	transform: translateZ(0);
	background: var(--inner);
	box-shadow:
	  /* Inner Background Color -- Same as inner */ 0 -6px 0 -2px
			var(--inner),
		0 6px 0 -2px var(--inner), 0 -12px 0 -4px var(--inner),
		0 12px 0 -4px var(--inner), 0 -18px 0 -8px var(--inner),
		0 18px 0 -8px var(--inner), 0 -24px 0 -12px var(--inner),
		0 24px 0 -12px var(--inner), /* Inner Border */ -2px 0 0 0 var(--border),
		2px 0 0 0 var(--border), 0 -4px 0 0 var(--border), 0 4px 0 0 var(--border),
		0 -10px 0 -2px var(--border), 0 10px 0 -2px var(--border),
		0 -14px 0 -4px var(--border), 0 14px 0 -4px var(--border),
		0 -20px 0 -8px var(--border), 0 20px 0 -8px var(--border),
		0 -26px 0 -12px var(--border), 0 26px 0 -12px var(--border),
		/* Middle Border -- Accent */ -4px 0 0 0 var(--accent),
		4px 0 0 0 var(--accent), 0 -2px 0 2px var(--accent),
		0 2px 0 2px var(--accent), 0 -8px 0 0px var(--accent),
		0 8px 0 0px var(--accent), 0 -12px 0 -2px var(--accent),
		0 12px 0 -2px var(--accent), 0 -16px 0 -4px var(--accent),
		0 16px 0 -4px var(--accent), 0 -22px 0 -8px var(--accent),
		0 22px 0 -8px var(--accent), 0 -28px 0 -12px var(--accent),
		0 28px 0 -12px var(--accent), /* Outer Border */ -6px 0 0 0 var(--border),
		6px 0 0 0 var(--border), 0 0 0 4px var(--border), 0 -6px 0 2px var(--border),
		0 6px 0 2px var(--border), 0 -10px 0 0 var(--border),
		0 10px 0 0 var(--border), 0 -14px 0 -2px var(--border),
		0 14px 0 -2px var(--border), 0 -18px 0 -4px var(--border),
		0 18px 0 -4px var(--border), 0 -24px 0 -8px var(--border),
		0 24px 0 -8px var(--border), 0 -30px 0 -12px var(--border),
		0 30px 0 -12px var(--border);
}

#welcome {
	top: 85%;
	left: 5%;
	overflow: hidden;
	position: absolute;
	width: 550px;
	line-height: 15pt;
}

#surfer {
	top: 350px;
	left: 500px;
}

#sign {
	font-family: "Playfair Display SC";
	font-size: 50px;
	color: #ff9933;
	position: absolute;
	top: 5%;
	left: 40%;
}

#feelfree {
	top: 50px;
	left: 70px;
	width: 239px;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.dragme .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.dragme:hover .tooltiptext {
	visibility: visible;
}

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #133e7c;

	-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

	z-index: 1001;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #0abdc6;

	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #ea00d9;

	-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg); /* IE 9 */
		transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg); /* IE 9 */
		transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg); /* IE 9 */
		transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg); /* IE 9 */
		transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: black;
	z-index: 1000;
	-webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(0); /* IE 9 */
	transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(-100%); /* IE 9 */
	transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(100%); /* IE 9 */
	transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
	visibility: hidden;

	-webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateY(-100%); /* IE 9 */
	transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.3s 1s ease-out;
	transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
	display: none;
}
.no-js h1 {
	color: #222222;
}

#content {
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	height: 100%;
}
/* 
.tabcontent {
	background-image: url("pixelSpace.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	display: none;
	padding: 100px 20px;
	z-index: -1;
} */

.gamespace {
	z-index: 3;
}
.navbar {
	position: fixed;
	margin-bottom: 0;
	background: transparent;
	z-index: 9999;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	right: 0px;
}
.tablink {
	background: transparent;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5% 20px;
	font-size: 17px;
}

.tablink:hover {
	background: gray;
}

.jumbotron {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-left: 50px;
	padding-right: 50px;
	color: #ffffff;
	background: rgb(200, 54, 54); /* This is for ie8 and below */
	background: rgba(255, 127, 36, 0);
}

.canvas {
	border: 1px solid #d3d3d3;
	background-color: #f1f1f1;
}

.contact {
	position: absolute;
	top: 92.5%;
	left: 2.5%;
	background: rgb(200, 127, 36); /* This is for ie8 and below */
	background: rgba(255, 127, 36, 0);
	color: white;
	padding: 5px 20px;
	z-index: 2;
}

.row {
	font-size: 15px;
	padding: 30px;
}

.fa {
	color: black;
	margin: 0px 15px 0px 0px;
}

.button {
	color: black;
}

body,
html {
	background: black url("asteroid_field.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	overflow: hidden;
}
